<div class="flip flip-vertical">
  <div class="front">
    <img src="{{imageUrl}}" alt="image_nature_1" />
    <h1 class="text-shadow">Keyword: {{keyword}}</h1>
  </div>
  <div class="back">
    <h2>{{title}}</h2>
    <p>Description: {{description}}</p>
    <a href="/photography/details/{{_id}}" class="details">Details</a>
  </div>
</div>

{{! <div class="flip flip-vertical">
  <div class="front">
    <img src="./static/img/pexels-photo-540518.png" alt="image_nature_1" />
    <h1 class="text-shadow">Keyword: Mountain</h1>
  </div>
  <div class="back">
    <h2>Title</h2>
    <p>Description: A mountain is an elevated portion of the Earth's crust,
      generally with steep sides that show significant exposed bedrock.</p>
    <a href="#" class="details">Details</a>
  </div>
</div>

<div class="flip flip-vertical">
  <div class="front">
    <img src="./static/img/big-waterfall-dario-428.jpg" alt="image_nature_2" />
    <h1 class="text-shadow">Key word: Waterfall</h1>
  </div>
  <div class="back">
    <h2>Title</h2>
    <p>Description: A waterfall is a point in a river or stream where water
      flows over a vertical drop or a series of steep drops.</p>
    <a href="#" class="details">Details</a>
  </div>
</div> }}