<section id="details-page">
  <article class="details-gage-title">
    <h1>Details Page</h1>
  </article>
  <article class="details-page-card">

    <article class="details-page-card-image">
      <!-- Do not forget to change the path to the image -->
      <img src="/static/img/man.png" alt="details-image" />
    </article>

    <article class="details-page-card-content">
      <p>Author: {{email}}</p>
      <h2>Headline: {{job.headline}}</h2>
      <h3>Company name: {{job.companyName}}</h3>
      <h4>Company description: {{job.companyDescription}}</h4>
      <h5>Location: {{job.location}}</h5>

      <article class="details-page-card-buttons">
        {{#if user}}
          {{#if job.isOwner}}
            <!--only for registered users and author of the ad-->
            <a href="/jobs/edit/{{job._id}}" class="btn-edit">Edit</a>
            <a href="/jobs/delete/{{job._id}}" class="btn-delete">Delete</a>
          {{else}}

            {{#if job.isApply}}
              <!--logged in user who has already applied for current ad-->
              <p class="already-applied">You have already applied!</p>
            {{else}}
              <!--logged in user who did not apply for current ad-->
              <a href="/jobs/apply/{{job._id}}" class="btn-apply">Apply now!</a>
              <p class="applied-people">Hurry up,
                {{job.ussersApplied.length}}
                people have already applied.</p>

            {{/if}}

          {{/if}}
        {{/if}}
      </article>
    </article>

  </article>
</section>

<!--This section should only be visible to the author of the current ad-->
{{#if job.isOwner}}
  {{#if length}}
    <section id="info-about-candidates">
      <h2>Candidates for this ad:</h2>
      <!--If there are people who have applied, show each of them in the following format-->
      {{#each applyUser}}
        <article class="info-about-candidates-card">
          <h2>Email: {{email}}</h2>
          <h3>Description of the candidate's skills:
            {{skills}}</h3>
        </article>
      {{/each}}
      <!--If not, you don't need to visualize anything further-->
    </section>
  {{/if}}
{{/if}}