<h1>Express and Handlebars Demo</h1>
<p>Welcome to our site</p>

{{!-- {{#if username}}
  <p>Welcome, {{username}}</p>
{{else}}
  <p>Guest user</p>
{{/if}}
<p>{{message}}</p>

{{#with product}}
  <div>
    <p>Name: {{name}}</p>
    <p>Price: {{price}}</p>
    <p>Color: {{color}}</p>
  </div>
{{/with}}

{{#if contacts}}
  <ul>
    {{#each contacts}}
    {{>usercard}}
    {{/each}}
  </ul>
{{else}}
  <p>No contacts yet</p>
{{/if}} --}}

{{!-- <h1>{{message}}</h1>
<p>{{response}}</p> --}}