<form action="/delete/{{cats.id}}" method="POST" class="cat-form">
  <h2>Shelter the cat</h2>
  <img name="upload" src="{{cats.upload}}" alt="" />
  <label for="name">Name</label>
  <input name="name" type="text" id="name" value="{{cats.name}}" disabled />
  <label for="description">Description</label>
  <textarea
    name="description"
    id="description"
    disabled
  >{{cats.description}}</textarea>
  <label for="group">Breed</label>
  <select name="breed" id="group" disabled>
    {{#each catBreed}}
      <option value="{{this}}" selected>{{this}}</option>
    {{/each}}
  </select>
  <button type="submit">SHELTER THE CAT</button>
</form>